.modal-content {
    border-radius: 10px;
    overflow: hidden;
}
.modal-body {
    display: flex;
    align-items: center;
    padding: 0;
}
.modal-body img {
    max-width: 100%;
    
    height: auto;
    max-height: 80vh;
}

.hero-content img{
    height: 500px;
}
 
.hero-content h3{
    font-size: 50px;
    color: #ffffff;
}
.hero-content h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    border-radius: 5px;
    width: 15rem;
    height: 3px;
    background-color: white;
}
.hero-content p{
    padding-top: 30px;
 color: #ffffff;
}



/* news and event */
.news h2{
    padding: 20px 0px 0px 0px;
}
.news-block {
    border: 1px solid #000;
    display: block;
    padding: 3%;
}
.news-block li {
    list-style: none;
    border-bottom: 1px solid #680202;
    margin-bottom: 5px;
}
.news-block ul{
    padding: 1rem 0px;
}

.news-holder .news-date {
    color: #fff;
    font-size: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: block;
    /* float: left; */
    width: 70px !important;
    height: 60px !important;
    background-color: #680202;
    margin-right: 10px;
    text-align: center !important;
    padding: 5px;
}

.news-holder .news-date .date {
    font-size: 13px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin-bottom: 5px;
}
.news-holder .news-date *  {
    color: #fff;
    font-size: 10px;
    /* display: block; */
}
.news-holder .news-date * {
    color: #fff;
    font-size: 10px;
    /* display: block; */
}
.news-holder li:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.news-holder li h5{
   font-size: 0.8rem;
   /* background-color: black; */
}   

@media screen  and (min-width: 500px) and (max-width:767px){
    .news-holder li h5{
       font-size: 1rem;
       /* background-color: black; */
    }   
}